@using DAL;
@using System.Data.Entity;
@model DAL.SolicitacoesVO

@{
    ViewBag.Title = "Incidentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#datepickerAbertura').datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR'
        });
    });
    $(document).ready(function () {
        $('#datepickerEncerramento').datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR'
        });
    });

    function salvarIncidentes() {

        var formData = $("#form-incidentes");
        $.ajax({
            url: '/Incidentes/GravarSolicitacoes',
            type: 'POST',
            data: formData.serialize(),
            error: function () {
                alert("Error");
            },
            success: function (data) {
                if (!data.success)
                    return alert("Erro ao gravar Incidente.");
                window.location = "/Incidentes/Index";
            },
            contenType: false, processData: false,

        })
    };

</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@(Model.CodSolicitacao > 0 ? "Editar " : "Novo")Chamados</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Registro de Incidentes
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                       
                        <form id="form-incidentes" role="form" action="javascript:salvarIncidentes()" method="post">
                            <div class="form-group">
                                <input type="hidden" name="id" value="@Model.CodSolicitacao">
                            </div>
                            <div class="form-group">
                                <label>Tipo de chamado</label>
                                <select name="TipoId" id="tipos" class="form-control" tab-index="2" @(Model.CodSolicitacao > 0 ? "disabled" : "")>
                                    @{
                                        if (ViewBag.ListaTipos != null)
                                        {
                                            foreach (var item in ViewBag.ListaTipos)
                                            {
                                                if (@item.id == @Model.TipoId)
                                                {
                                        <option value="@item.id" selected>@item.nome</option>
                                                }
                                                else
                                                {
                                        <option value="@item.id">@item.nome</option>
                                                }
                                            }
                                        }
                                        else
                                        {
                                        <option value="" selected="selected">Nenhum tipo cadastrado</option> 
                                        }  
                   
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select name="StatusChamadoId" id="StatusChamadoId" class="form-control" tab-index="2">
                                    @{
                                        if (ViewBag.ListaStatus != null)
                                        {
                                            foreach (var item in ViewBag.ListaStatus)
                                            {
                                                if (@item.id == @Model.StatusChamadoId)
                                                {
                                        <option value="@item.id" selected>@item.descricao</option>
                                                }
                                                else
                                                {
                                        <option value="@item.id">@item.descricao</option>
                                                }
                                            }
                                        }
                                        else
                                        {
                                        <option value="" selected="selected">Nenhum Status cadastrado</option> 
                                        }  
                   
                                    }
                                </select>
                            </div>

                            <table class="table table-hover table-inverse">
                                <thead>
                                    <tr>
                                        <th>Data Abertura</th>
                                        <th>Data Encerramento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="input-group date" data-date="dateValue: Customer.DateOfBirth">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" name="DataCadastro" id="datepickerAbertura" value="@(Model.DataCadastro == Convert.ToDateTime("01/01/0001 00:00:00") ? new DateTime(DateTime.Now.Year,DateTime.Now.Month, DateTime.Now.Day) : Model.DataCadastro)" @(Model.CodSolicitacao > 0 ? "disabled" : "")>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" name="DataFinal" id="datepickerEncerramento" value="@Model.DataFinal">
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-group">
                                <label>Empresas</label>
                                <select name="ClienteId" id="ClienteId" class="form-control" tab-index="2" @(Model.CodSolicitacao > 0 ? "disabled" : "")>
                                    @{
                                        if (ViewBag.ListaClientes != null)
                                        {
                                            foreach (var item in ViewBag.ListaClientes)
                                            {
                                                if (@item.ClienteId == @Model.ClienteId)
                                                {
                                        <option value="@item.ClienteId" selected>@item.NomeCliente</option>
                                                }
                                                else
                                                {
                                        <option value="@item.ClienteId">@item.NomeCliente</option>
                                                }
                                            }
                                        }
                                        else
                                        {
                                        <option value="" selected="selected">Nenhum Cliente cadastrado</option> 
                                        }  
                   
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Solicitante</label>
                                <input class="form-control" id="NomeSolicitante" name="NomeSolicitante" placeholder="Nome do Solicitante" value="@Model.NomeSolicitante" @(Model.CodSolicitacao > 0 ? "disabled" : "")>
                            </div>
                            <div class="form-group">
                                <label>Telefone</label>
                                <input class="form-control" id="NumeroTelefone" name="NumeroTelefone" placeholder="Telefone para contato" value="@Model.NumeroTelefone" @(Model.CodSolicitacao > 0 ? "disabled" : "")>
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input class="form-control" id="email" name="EnderecoEmail" placeholder="example@example.com.br" value="@Model.EnderecoEmail" @(Model.CodSolicitacao > 0 ? "disabled" : "")>
                            </div>
                            <div class="form-group">
                                <label>Descrição</label>
                                <input class="form-control"  id="descricao" name="Descricao" placeholder="Descrição do Chamado"  value="@Model.Descricao" @(Model.CodSolicitacao > 0 ? "disabled" : "")></input>
                            </div>
                            <div class="form-group">
                                <label>Detalhamento</label>
                                <textarea id="detalhamento" name="Detalhamento" class="form-control" rows="4">@Model.Detalhamento</textarea>
                            </div>
                            <div class="form-group">
                                <label for="disabledSelect">Atendente</label>
                                <input class="form-control" id="nome" name="NomeAtendenteId" type="text" placeholder="Nome do Atendente" disabled value="@Session["nomeUser"]">
                            </div>
                            <p>
                                <button name="btn_salvar" id="btn_salvar" class="btn btn-primary">Salvar</button>
                                <a class="btn btn-default" href="/Incidentes/Index" role="button">Cancelar</a>
                            </p>

                        </form>                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
